.class-for-imagesentiment-video{
	margin-top: 1%;
	margin-left:33%;
	
}





.class-for-imagesentiment-image{
	margin-top: 2%;
	margin-left: 38%;
	
}

.class-for-imagesentiment-heading{
	font-family: 'Megrim';
    font-size: 550%;
    font-weight: 150;
    margin-top: 6%;
    letter-spacing: 4px;	
}

.adjust-upload{
	margin-left: 45.05%;
	margin-top: 3%;
}

body{
    background-color: #0d0d0d;
}
.white-text{
    color: white;
}
.fontst {
    font-family: 'Megrim';
    font-size: 550%;
    font-weight: 150;
    margin-top: 9%;
    letter-spacing: 4px;
  
  }
  .desc {
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 130%;
    font-family: 'Julius Sans One';
  }

  .subtitle{
    color: white;
}

.inner-text-size{
    font-size: 80%;   
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  /* buttonCSS */

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

/* body {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==')} */

* {
	box-sizing: border-box;
}

/* h1 {
	text-align: center;
	font-family: comfortaa;
	font-weight: 900;
	font-size: 3em;
	color: #fff;
	text-shadow: 0em 0.05em 0 rgba(0, 0, 0, 0.35)
} */

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

/* body {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==')} */

* {
	box-sizing: border-box;
}

/* h1 {
	text-align: center;
	font-family: comfortaa;
	font-weight: 900;
	font-size: 3em;
	color: #fff;
	text-shadow: 0em 0.05em 0 rgba(0, 0, 0, 0.35)
} */

button {
	color: #454545;
	background: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #454545;
	position: relative;
  margin: 11em;
  display: inline-block;
  /* important */
	padding: 1.5em 3em;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-align: center;
	font-family: comfortaa;
	font-weight: bold
}

button:before,
button:after {
	content: '';
	display: block;
	position: absolute;
	border-color: #454545;
	box-sizing: border-box;
	border-style: solid;
	width: 2em;
	height: 2em;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

button:before {
	top: -6px;
	left: -6px;
	border-width: 2px 0 0 2px;
	z-index: 5;
}

button:after {
	bottom: -6px;
	right: -6px;
	border-width: 0 2px 2px 0;
}

button:hover:before,
button:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #fff
}

button:hover {
	color: #353535;
	background-color: #fff;
	border-color: #fff
}

.panel {
	max-width: 960px;
  text-align: center;
	position: relative;
	margin: auto;
}
/* 
.pink button {
	color: #eb1777;
	border-color: #eb1777
}

.pink button:before,
.pink button:after {
	border-color: #eb1777
}

.pink button:hover:before,
.pink button:hover:after {
	border-color: #eb1777;
}

.pink button:hover {
	color: #fff;
	background-color: #eb1777;
	border-color: #eb1777;
}

.pink .panel {
	max-width: 960px;
	text-align: center;
	position: relative;
	margin: auto;
}

.blue button {
	color: #3bb4e5;
	border-color: #3bb4e5
}

.blue button:before,
.blue button:after {
	border-color: #3bb4e5
}

.blue button:hover:before,
.blue button:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #3bb4e5;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.blue button:hover {
	color: #3bb4e5;
	background-color: transparent;
	border-color: #3bb4e5
}

.blue .panel {
	max-width: 960px;
	text-align: center;
	position: relative;
	margin: auto;
}

.borderless button {
	border-color: rgba(0, 0, 0, 0);
	color: #999
}

.borderless button:hover {
	border-color: #353535;
	background-color: transparent;
	color: #353535
}

.borderless button:before,
.borderless button:after {
	border-color: transparent;
}

.borderless button:hover:before,
.borderless button:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #353535
} */

.bw button {
	color: #fff;
	border-color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset
}

.bw button:before,
.bw button:after {
	border-color: #fff
}

.bw button:hover:before,
.bw button:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #ffffff;
}

.bw button:hover {
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	border-color: #ffffff
}

/* .blue .panel {
	max-width: 960px;
	text-align: center;
	position: relative;
	margin: auto;
} */