<html>

<head>
  <title>AI Emotion Detector</title>
  <link rel="stylesheet" type="text/css" href="./css/mycss.css">
  <link rel="stylesheet" href="./css/buttoncss.css">
  <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet'>
</head>

<body>
  <div class="mainheading">AI Emti<img src="./image/o-letter.png" class="oletterclass">n Detector</div>
  <div class="subheading">"Detect your emotion"</div>
  <!-- <div class="hr-length">
  <hr>
  </div> -->
  <div class="panel bw">
  <button><a href="livewebcam" class="subtitle">Image Analysis</a></button>
  <button><a href="uploadvideo" class="subtitle">Video Analysis</a></button>
  <button><a href="uploadimage" class="subtitle">Live Analysis</a></button>
  </div>
</body>

</html>