<html>
  <head>
    <title>Video Streaming Demonstration</title>
 
   
  
  </head>



  <body>
    

    



    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6"> <a href="livewebcam" class="btn btn-sm animated-button victoria-one">live-stream</a> </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6"> <a href="uploadvideo" class="btn btn-sm animated-button victoria-one">video-sentiment</a> </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6"> <a href="uploadimage" class="btn btn-sm animated-button victoria-one">image-sentiment</a> </div>
    </div>




  


        
  </body>
</html>





